* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

.todo-form {
    padding: 1rem;
    border: 1px solid red;
    margin: 0 auto;
    width: 40rem;
    text-align: center;
}

.complete {
    text-decoration: line-through;
}

