* {
    box-sizing: border-box;
}

html {
    font-family: Nunito,sans-serif;
}

body {
    margin: 0;
    background:rgb(119, 136, 153, 0.2);
}

li {
    list-style: none;
}

.title {
    padding-top: 2rem;
    margin: 0;
    background-color: lightskyblue;
    color: rgb(95, 101, 107);

}

.top-row {
    background-color: lightskyblue;

}

.todo-form {
    text-align: center;
}

.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem
}

.wrapper {
    width: 100%;
}

.top-row input {
    border: none;
    height: 2rem;
    width: 20rem;
    padding: .5rem;
    font-size: 1.2rem;
}

.add-button {
    border: 1px solid white;
    color: white;
    height: 2rem;
    background: none;
    font-size: 1.2rem;
}

.todo-list {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: column-reverse nowrap;
    max-width: 60rem;
}

li {
    position: relative;
    background-color: rgb(119, 136, 153, 0.8);
    color: white;
    font-size: 2rem;
    text-align: left;
    padding: 2rem;
    list-style-type: none;
    box-shadow: 1px 10px 20px -10px rgba(0,0,0,0.2);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 1rem 1rem .2rem 1rem;

}

.list-item:hover {
    background-color: rgb(119, 136, 153);
}

.list-item:last-of-type {
    opacity: 0;
    animation: list-item-anim .3s forwards ease-out;

}

@keyframes list-item-anim {
    from {
        transform: translateX(-500%);
        opacity: 0
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.done {
    display: none;
    /* position: absolute;
    z-index: 1;
    background: green;
    padding: .5rem;
    left: 40%;
    top: 25%; */
}

.complete {
    background-color: rgb(144, 238, 144, 0.8);
    text-decoration: line-through;
}


/* .complete .done {
    display: inline;
} */

.complete:hover {
    background-color: rgb(144, 238, 144, 1);
}

.remove-button {
    border: 1px solid white;
    background: none;
    color: white;
    font-size: 1.5rem;
    width: 4rem;
    cursor: pointer;
   
}


.remove-button:hover {
    background-color: rgb(0, 0, 0, 0.2);
}